<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Django</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	<script src="{% static 'https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js' %}"></script>
  	<script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body id="body">

<!--menu-->
<div id="menu" class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
	<div class="col-sm-1 col-md-1 col-xs-12 col-lg-1">
	</div>
	<!--logo-->
	<div id="menu" class="col-sm-1 col-md-1 col-xs-12 col-lg-1">
		<a href="/home/">
			<img id="logo" class="img-responsive" src="{% static 'img/logo_menor.png' %}">
		</a>
	</div>	
	
	<!--vazio-->
	<div class="col-sm-2 col-md-2 col-xs-12 col-lg-2">
		<!--vazio-->
	</div>

	<!--buscar-->
	<div id="buscar" class="col-sm-4 col-md-4 col-xs-12 col-lg-4">
		<br>
		<form class="form-horizont">
	  		<div class="form-group">
	    		<div class="col-sm-10">
	      			<input type="email" class="form-control" id="inputEmail3" placeholder="Faça sua pesquisa">
	    		</div>
	    		<button>
	      			<div class="input-group-addon">
	      				<span class="glyphicon glyphicon-search" ></span>
      			 	</div>
	      		</button>
	  		</div>
	  	</form>
	</div>

	<!--vazio-->
	<div class="col-sm-2 col-md-2 col-xs-12 col-lg-2">	

	</div>

	<!--usuário/configurações-->
	<div class="col-sm-1 col-md-1 col-xs-12 col-lg-1">
		<br>
		<div class="dropdown">
			<button class="glyphicon glyphicon-user" type="button" data-toggle="dropdown">Você<span class="caret"></span>
			</button>
	  		<ul class="dropdown-menu">
		    	<li><a href="/edit_user/">Editar perfil</a></li>
			    <li><a href="/logout/">Sair</a></li>
		  	</ul>
		</div>
	</div>

	<!--vazio-->
	<div class="col-sm-1 col-md-1 col-xs-12 col-lg-1">

	</div>

</div>

<!--corpo-->
<div id="corpo" class="col-sm-12 col-md-12 col-xs-12 col-lg-12">

	<!--vazio-->
	<br>
	<div class="col-sm-1 col-md-1 col-xs-12 col-lg-1">

	</div>

	<!--info usuario-->
	<div id="info" class="col-sm-2 col-md-2 col-xs-12 col-lg-2">

		<!--nome e foto do usuário-->
		<a href="/exibirPerfil/">
			<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
				<h3 class="text-capitalize">
					<img class="usu img-responsive" src="{% static 'img/logo_menor.png' %}">
					<br>
					<!--{ variavel com o nome do usuario }-->
					{{user.username}}
				</h3>
			</div>
		</a>
		<br>

		<!--grupos usuario-->
		<a href="/seu_grupo/">
			<br>
			<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
				<h4><strong>GRUPOS</strong></h4>
			</div>
		</a>

		<!--fóruns usuario-->
		<a href="/forum/">
			<br>
			<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
				<h4><strong>FÓRUNS</strong></h4>
			</div>
		</a>

	</div>

	<!--timeline-->
	<div class="col-sm-6 col-md-6 col-xs-12 col-lg-6">

		<!--publicar-->
		<div id="publicar" class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
		
			<div id="timeline" class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
				<form method = "post" enctype="multipart/form-data">
				{% csrf_token %}
				<br>
				
				<div class="form-group">
					<textarea name="bio" placeholder="Biografia" class="form-control" rows="5" id="comment">{{perfil.bio}}</textarea>
				</div>

				<div class="col-sm-4 col-md-4 col-xs-12 col-lg-4">
					{{form.imagem_perfil}}
				</div>

				<div class="col-sm-4 col-md-4 col-xs-12 col-lg-4">
					
				</div>
				
				<div class="col-sm-1 col-md-1 col-xs-12 col-lg-1">
			  	</div>

			  	<!--botão-->
			  	<div class="col-sm-2 col-md-2 col-xs-12 col-lg-2">
			  		<button class="btn"><strong>EDITAR</strong></button>
				</div>

				<div class="col-sm-1 col-md-1 col-xs-12 col-lg-1">
			  	</div>

				<br>
			</form>
				<br>
			</div>

		</div>
		<br>

	</div>

	<!--assuntos relacionados-->
	<div id="relacionados" class="col-sm-2 col-md-2 col-xs-12 col-lg-2">
		<h3><small>ASSUNTOS RELACIONADOS</small></h3>
		<!--grupos usuario-->
		<a href="">
			<br>
			<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
				<h4><strong>Estruturas de dados</strong></h4>
			</div>
		</a>

		<!--envios usuario-->
		<a href="">
			<br>
			<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
				<h4><strong>Banco de dados</strong></h4>
			</div>
		</a>

		<!--fóruns usuario-->
		<a href="">
			<br>
			<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
				<h4><strong>Seminário de introdução ao curso</strong></h4>
			</div>
		</a>
	</div>

	<!--vazio-->
	<div class="col-sm-1 col-md-1 col-xs-12 col-lg-1">

	</div>

</div>

</body>
</html>