<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Django</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	<script src="{% static 'https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js' %}"></script>
  	<script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body id="body">

<!--menu-->
<div id="menu" class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
	<div class="col-sm-1 col-md-1 col-xs-12 col-lg-1">
	</div>
	<!--logo-->
	<div id="menu" class="col-sm-1 col-md-1 col-xs-12 col-lg-1">
		<a href="/loggedin/">
			<img id="logo" class="img-responsive" src="{% static 'img/logo_menor.png' %}">
		</a>
	</div>	
	
	<!--vazio-->
	<div class="col-sm-2 col-md-2 col-xs-12 col-lg-2">
		<!--vazio-->
	</div>

	<!--buscar-->
	<div id="buscar" class="col-sm-4 col-md-4 col-xs-12 col-lg-4">
		<br>
		<form class="form-horizont">
	  		<div class="form-group">
	    		<div class="col-sm-10">
	      			<input type="email" class="form-control" id="inputEmail3" placeholder="Faça sua pesquisa">
	    		</div>
	    		<button>
	      			<div class="input-group-addon">
	      				<span class="glyphicon glyphicon-search btn" ></span>
      			 	</div>
	      		</button>
	  		</div>
	  	</form>
	</div>

	<!--vazio-->
	<div class="col-sm-2 col-md-2 col-xs-12 col-lg-2">	

	</div>

	<!--usuário/configurações-->
	<div class="col-sm-1 col-md-1 col-xs-12 col-lg-1">
		<br>
		<span class="glyphicon glyphicon-user btn" >Você</span>
	</div>

	<!--vazio-->
	<div class="col-sm-1 col-md-1 col-xs-12 col-lg-1">

	</div>

</div>

<!--corpo-->
<div id="corpo" class="col-sm-12 col-md-12 col-xs-12 col-lg-12">

	<!--vazio-->
	<br>
	<div class="col-sm-1 col-md-1 col-xs-12 col-lg-1">

	</div>

	<!--info usuario-->
	<div id="info" class="col-sm-2 col-md-2 col-xs-12 col-lg-2">

		<!--nome e foto do usuário-->
		<a href="">
			<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
				<h3>
					<img class="usu img-responsive" src="{{grupo.imagem_logo.url}}">
					<br>
					{{grupo.titulo}}
				</h3>
			</div>
		</a>
		<br>

		{% if user not in list_user%}<!--grupos usuario-->
		<a href="/participaGrupo/{{grupo.id}}/">
			<br>
			<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
				<h4><strong><span class="glyphicon glyphicon-plus"></span> PARTICIPAR</strong></h4>
			</div>
		</a>
		{%else%}
			<a href="/sair/{{grupo.id}}">
			<br>
			<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
				<h4><strong>Deixar Grupo</strong></h4>
			</div>
			</a>
		{% endif %}
	</div>

	<!--timeline-->
	<div class="col-sm-6 col-md-6 col-xs-12 col-lg-6">

		<!--publicar-->
		<div id="publicar" class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
			<form class="form-horizont"  method = "post" enctype="multipart/form-data">
				{% csrf_token %}
				<br>
				{% for field in form %}
					<p>{{field.label}}</p>
					<p>{{field}}</p>
					<p>{{field.errors}}</p>
				{% endfor%}
			  	<div class="col-sm-2 col-md-2 col-xs-12 col-lg-2">
			  		<button class="btn"><strong>ENVIAR</strong></button>
				</div>
				<br>
			</form>
		</div>

		<div id="vazio_publ" class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
			<br>
		</div>

		<div id="timeline" class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
			{%if post%}
				{%for publicate in post%}
					<br>
					<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
						<a href="#"><img id="usu_timeline" class="usu img-responsive" src="{{publicate.perfil.imagem_perfil.url}}"></a>
						<a href="#"><h3>{{publicate.user.first_name}} {{publicate.user.last_name}}</h3></a>
						<br>
						<small>{{publicate.data}}</small>
					</div>
						<h3>{{publicate.titulo}}</h3>
						<br>
						<p>
							{{publicate.texto}}
						</p>
					<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
						<img id="post" class="img-responsive" src="{% static 'img/logo_menor.png' %}">
					</div>
					<br>
					<a href="/pucacaogrupo/{{publicate.id}}">
						<button type="submit" class="btn btn-default" value = "cadastar">Ver</button>
					</a>
				{% endfor%}
			{% else%}
					<br>
					<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
						<h3>{{grupo.titulo}}</h3></a>
					</div>
						<p>
							{{grupo.desc}}
						</p>
			{% endif %}
		</div>
		<br>

	</div>

	<!--assuntos relacionados-->
	<div id="relacionados" class="col-sm-2 col-md-2 col-xs-12 col-lg-2">
		<h3><small>Seus Contatos</small></h3>
		<!--grupos usuario-->
		<a href="/seguindo/">
			<br>
			<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
				<h4><strong>Seguindo</strong></h4>
			</div>
		</a>

		<!--envios usuario-->
		<a href="/seguidores/">
			<br>
			<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
				<h4><strong>Seguidores</strong></h4>
			</div>
		</a>
	</div>

	<!--vazio-->
	<div class="col-sm-1 col-md-1 col-xs-12 col-lg-1">

	</div>

</div>

</body>
</html>