<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Quarkdo</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	<script src="{% static 'https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js' %}"></script>
  	<script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body id="body">

<!--menu-->
<div id="menu" class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
	<div class="col-sm-1 col-md-1 col-xs-12 col-lg-1">
	</div>
	<!--logo-->
	<div id="menu" class="col-sm-1 col-md-1 col-xs-12 col-lg-1">
		<a href="/loggedin/">
			<img id="logo" class="img-responsive" src="{% static 'img/logo_menor.png' %}">
		</a>
	</div>	
	
	<!--vazio-->
	<div class="col-sm-2 col-md-2 col-xs-12 col-lg-2">
		<!--vazio-->
	</div>

	<!--buscar-->
	<div id="buscar" class="col-sm-4 col-md-4 col-xs-12 col-lg-4">
		<br>
		<form class="form-horizont">
	  		<div class="form-group">
	    		<div class="col-sm-10">
	      			<input type="text" class="form-control" id="inputEmail3" placeholder="Faça sua pesquisa">
	    		</div>
	    		<button class="btn">
	      			<div>
	      				<span class="glyphicon glyphicon-search" ></span>
      			 	</div>
	      		</button>
	  		</div>
	  	</form>
	</div>

	<!--vazio-->
	<div class="col-sm-2 col-md-2 col-xs-12 col-lg-2">	

	</div>

	<!--usuário/configurações-->
	<div class="col-sm-1 col-md-1 col-xs-12 col-lg-1">
		<br>
		<div class="dropdown">
			<button class="glyphicon glyphicon-user btn" type="button" data-toggle="dropdown">Você<span class="caret"></span>
			</button>
	  		<ul class="dropdown-menu">
		    	<li><a href="/edit_user/">Editar perfil</a></li>
			    <li><a href="/logout/">Sair</a></li>
		  	</ul>
		</div>
	</div>

	<!--vazio-->
	<div class="col-sm-1 col-md-1 col-xs-12 col-lg-1">

	</div>

</div>

<!--corpo-->
<div id="corpo" class="col-sm-12 col-md-12 col-xs-12 col-lg-12">

	<!--vazio-->
	<br>
	<div class="col-sm-1 col-md-1 col-xs-12 col-lg-1">

	</div>

	<!--info usuario-->
	<div id="info" class="col-sm-2 col-md-2 col-xs-12 col-lg-2">

		<!--nome e foto do usuário-->
		<a href="">
			<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
				<h3>
					<img class="usu img-responsive" src="{{grupo.imagem_logo.url}}">
					<br>
					{{grupo.titulo}}
				</h3>
			</div>
		</a>
		<br>
		
		{% if user not in list_user%}<!--grupos usuario-->
			<a href="/participaGrupo/{{grupo.id}}/">
				<br>
				<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
					<h4><strong><span class="glyphicon glyphicon-plus"></span> PARTICIPAR</strong></h4>
				</div>
			</a>
		{%else%}
			{% if user != grupo.user_adm.user%}
				<a href="/sair/{{grupo.id}}">
				<br>
				<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
					<h4><strong>Deixar Grupo</strong></h4>
				</div>
				</a>
			{% endif %}
		{% endif %}
		{% if user == grupo.user_adm.user%}
			<a href="/deletar/{{grupo.id}}/">
				<br>
				<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
					<h4><strong><span class="glyphicon glyphicon-remove"></span> Deletar </strong></h4>
				</div>
			</a>
			<a href="/editar/{{grupo.id}}/">
				<br>
				<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
					<h4><strong><span class="glyphicon glyphicon-pencil"></span> Editar </strong></h4>
				</div>
			</a>
		{% endif %}
	</div>


	<!--timeline-->
	<div class="col-sm-6 col-md-6 col-xs-12 col-lg-6">

		<!--publicar-->
		<div id="publicar" class="col-sm-12 col-md-12 col-xs-12 col-lg-12">

			<div id="timeline" class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
				<form class="form-horizont" action="" enctype="multipart/form-data" method="post">
					{% csrf_token %}
					<br>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Título da sua publicação" name="titulo">
					</div>
					<div class="form-group">
						<textarea name="texto" placeholder="Publique algo que deseje" class="form-control" rows="5" id="comment"></textarea>
					</div>

					<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
						<input type="file" name="anexo" value="rdf">
					</div>
					
					<!--opções-->
					<div class="col-sm-9 col-md-9 col-xs-12 col-lg-9">
						<select name="area">
							{% for obj in obt_estudos %}
								<option value="{{obj.id}}">{{obj.nome}}</option>
							{% endfor %}
						</select> 
				  	</div>

				  	<div class="col-sm-1 col-md-1 col-xs-12 col-lg-1">
				  	</div>

				  	<!--botão-->
				  	<div class="col-sm-2 col-md-2 col-xs-12 col-lg-2">
				  		<button class="btn"><strong>ENVIAR</strong></button>
				  		<br>
				  		<br>
					</div>
				</form>
			</div>

		</div>

		<div id="vazio_publ" class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
			<br>
		</div>

		{% if post %}
		{% for publicacao in post %}
		<div id="timeline" class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
			<!--date nome-->
			<div class="col-sm-11 col-md-11 col-xs-11 col-lg-11">
				<br>
				{% if publicacao.perfil.imagem_perfil %}
					<a href="/showPerfil/{{publicacao.user.id}}"><img id="usu_timeline" class="usu img-responsive" src="{{publicacao.perfil.imagem_perfil.url}}">{{publicacao.perfil.user.username}}</a>
					
				{% endif %}
				<h6><small>{{publicacao.data}}</small></h6>
				<h1>{{publicacao.titulo}} </h1>
				<hr>
			</div>
			<div class="col-sm-1 col-md-1 col-xs-12 col-lg-1">
				<br>
				<div class="dropdown">
					<button class="btn glyphicon" type="button" data-toggle="dropdown"><span class="caret"></span></button>
			  		<ul class="dropdown-menu">
				    	<li><a href="/editPublicGrupo/{{publicacao.id}}">Editar publicacao</a></li>
					    <li><a href="/deletPublicGrupo/{{publicacao.id}}">Excluir publicação</a></li>
				  	</ul></button>
				</div>
			</div>
			<!--publicação-->
			<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
				{{publicacao.texto}}
				<hr>
				{% for anexo in anexo %}
					{% if anexo in publicacao.anexo.url %}
						{% for tipo in tipo %}

							{% if tipo in anexo %}
								{% if tipo == "png" or tipo == "jpg" or tipo == "gif" %}
									<img src="{{publicacao.anexo.url}}">
								{% endif %}

								{% if tipo == "docx" or tipo == "doc" or tipo == "pdf" or  tipo == "pdf" or tipo == "sh" or tipo == "java" or tipo == "c" or tipo == "py" or tipo == "pptx" or tipo == "txt" %}
									<a href="{{publicacao.anexo.url}}"><span class="glyphicon glyphicon-download-alt">{{anexo}}</a> </span>
								{% endif %}
								{{"<!--"}}
							{% endif %}

						{% endfor %}
						<!--{"-->
					{% endif %}
				{% endfor %}
				<hr>
			</div>

			<hr>
			<!--visualizar-->
			<a id="visualizar" href="/pucacaogrupo/{{publicacao.id}}/">
				<button type="button" class="btn btn-default">
					<h4><span style="float: left;" class=" glyphicon glyphicon-eye-open"></span> VISUALIZAR</h4>
				</button>
			</a>
			<br>
		</div>
		<br>
		<br>
		{% endfor %}
		{% else %}
		<div id="timeline" class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
			<BR>
			<a href=""><img id="usu_timeline" class="usu img-responsive" src="{% static 'img/logo_menor.png' %}"></a>
			<a style="color:black;" href=""><h3>QUARKDO</h3></a>
			<h3>Seja bem-vindo ao grupo {{grupo.titulo}}, não há notificações no momento</h3>
		</div>
		{% endif %}
		<br>

	</div>

	<!--assuntos relacionados-->
	<div id="relacionados" class="col-sm-2 col-md-2 col-xs-12 col-lg-2">
		<h3><small>Seus Contatos</small></h3>
		<!--grupos usuario-->
		<a href="/seguindo/">
			<br>
			<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
				<h4><strong>Seguindo</strong></h4>
			</div>
		</a>

		<!--envios usuario-->
		<a href="/seguidores/">
			<br>
			<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
				<h4><strong>Seguidores</strong></h4>
			</div>
		</a>
	</div>

	<!--vazio-->
	<div class="col-sm-1 col-md-1 col-xs-12 col-lg-1">

	</div>

</div>

</body>
</html>