<!DOCTYPE html>
{% load static %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7-dist\css\bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css\style.css' %}">
<title>Quarkdo - Bem-vindo</title>
</head>
<body style="background: black;">

<!--cabeçalho-->
<div class="col-md-4 col-sm-4 col-xs-12 col-lg-4">
<br>
<br>
</div>
<!--imagem aki-->
<div  class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
<img style="width: 100%;" class="img-responsive" src="{% static 'img/img1.jpg' %}">
<br>
<br>
</div>

<div id="fundo" class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
<!--corpo-->
<div class="col-md-4 col-sm-4 col-xs-12 col-lg-4">
<h1 style="display: none;"></h1>
<br>
</div>
<br>
<div class="col-md-4 col-sm-4 col-xs-12 col-lg-4">
<br>
{% if error_message %} <h1 style="color:white;">{{error_message}}</h1> {% endif %}
<form class="form-horizontal" action="/auth/" method="post">
{% csrf_token %}
<div class="form-group">
<p>Conta</p>
    <div class="col-sm-10">
    <label for="exampleInputUsuario">
    <font  color="white">Usuário</font>
    </label>
      <input type="login" class="form-control" id="inputLogin" placeholder="Usuario123" name="username">
    </div>
  </div>

<div class="form-group">
   
    <div class="col-sm-10">
    <label for="exampleInputSenha">
    <font  color="white">Senha</font>
    </label>
      <input type="password" class="form-control" id="inputSenha" placeholder="Senha" name="senha">
    </div>
  </div>
 
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox">
          <font  color="white">Permanecer Conectado</font>
        </label>
      </div>
    </div>
  </div>

<button style="border: 1px solid dimgray background-position: bottom left;" class="btn btn-default" type="submit">Entrar
</button>

</form>
<br>
<a href="/register/"><button style="background-position: bottom right;" class="btn btn-default" type="submit">Cadastrar-se
</button></a>
  </div>

</div>
</div>

</body>
</html>