<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Django</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	<script src="{% static 'https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js' %}"></script>
  	<script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body id="body">

<!--menu-->
<div id="menu" class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
	<div class="col-sm-1 col-md-1 col-xs-12 col-lg-1">
	</div>
	<!--logo-->
	<div id="menu" class="col-sm-1 col-md-1 col-xs-12 col-lg-1">
		<a href="/home/">
			<img id="logo" class="img-responsive" src="{% static 'img/logo_menor.png' %}">
		</a>
	</div>	
	
	<!--vazio-->
	<div class="col-sm-2 col-md-2 col-xs-12 col-lg-2">
		<!--vazio-->
	</div>

	<!--buscar-->
	<div id="buscar" class="col-sm-4 col-md-4 col-xs-12 col-lg-4">
		<br>
		<form class="form-horizont">
	  		<div class="form-group">
	    		<div class="col-sm-10">
	      			<input type="email" class="form-control" id="inputEmail3" placeholder="Faça sua pesquisa">
	    		</div>
	    		<button class="btn">
	      			<div>
	      				<span class="glyphicon glyphicon-search" ></span>
      			 	</div>
	      		</button>
	  		</div>
	  	</form>
	</div>

	<!--vazio-->
	<div class="col-sm-2 col-md-2 col-xs-12 col-lg-2">	

	</div>

	<!--usuário/configurações-->
	<div class="col-sm-1 col-md-1 col-xs-12 col-lg-1">
		<br>
		<div class="dropdown">
			<button class="glyphicon glyphicon-user btn" type="button" data-toggle="dropdown">Você<span class="caret"></span>
			</button>
	  		<ul class="dropdown-menu">
		    	<li><a href="/edit_user/">Editar perfil</a></li>
			    <li><a href="/logout/">Sair</a></li>
		  	</ul>
		</div>
	</div>

	<!--vazio-->
	<div class="col-sm-1 col-md-1 col-xs-12 col-lg-1">

	</div>

</div>

<!--corpo-->
<div id="corpo" class="col-sm-12 col-md-12 col-xs-12 col-lg-12">

	<!--vazio-->
	<br>
	<div class="col-sm-1 col-md-1 col-xs-12 col-lg-1">

	</div>

	<!--info usuario-->
	<div id="info" class="col-sm-2 col-md-2 col-xs-12 col-lg-2">

		<!--nome e foto do usuário-->
		<a href="/exibirPerfil/">
			<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
				<h3 class="text-capitalize">
					{% if perfil.imagem_perfil %}
					<img class="usu img-responsive" src="{{perfil.imagem_perfil.url}}">
					<br>
					{% endif %}
					<!--{ variavel com o nome do usuario }-->
					{{user.username}}
				</h3>
			</div>
		</a>
		<br>

		<!--grupos usuario-->
		<a href="/seu_grupo/">
			<br>
			<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
				<h4><strong>GRUPOS</strong></h4>
			</div>
		</a>

		<!--fóruns usuario-->
		<a href="/forum/">
			<br>
			<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
				<h4><strong>FÓRUNS</strong></h4>
			</div>
		</a>

	</div>

	<div class="col-sm-6 col-md-6 col-xs-12 col-lg-6">

		<div id="publicar" class="col-sm-12 col-md-12 col-xs-12 col-lg-12">

			{% if not segindores %}
				
			{% endif%}
			{% for single in segindores%}
			<div id="timeline" class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
				
					<br>
					<div class="col-sm-3 col-md-3 col-xs-12 col-lg-3">
						<!--imagem do perfil do cara-->
						{%if single.imagem_perfil %}
							<img src="{{single.imagem_perfil.url}}">
						{%else%}
							<img src="{% static 'img/logo_menor.png' %}">
						{%endif%}
					</div>
					<div class="col-sm-9 col-md-9 col-xs-12 col-lg-9">
						<!--Nome e link para a página do cara-->
						<a href="/showPerfil/{{single.user.id}}"><h3> {{single}}</h3><h5>{{single.user.first_name}} {{single.user.last_name}}</h5></a>
						<br>
					</div>
					<br>
				</div>
			{% endfor %}
		</div>
		<br>

	</div>

		<!--assuntos relacionados-->
	<div id="relacionados" class="col-sm-2 col-md-2 col-xs-12 col-lg-2">
		<h3><small>Seus Contatos</small></h3>
		<!--grupos usuario-->
		<a href="/seguindo/">
			<br>
			<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
				<h4><strong>Seguindo</strong></h4>
			</div>
		</a>

		<!--envios usuario-->
		<a href="/seguidores/">
			<br>
			<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
				<h4><strong>Seguidores</strong></h4>
			</div>
		</a>
	</div>


	<!--vazio-->
	<div class="col-sm-1 col-md-1 col-xs-12 col-lg-1">

	</div>

</div>

</body>
</html>