<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Quarkdo</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.css' %}">
	<link rel="stylesheet" type=n "text/css" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/perfil.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<script src="{% static 'https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js' %}"></script>
  	<script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body id="body">

<div id="menu" class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
	<div class="col-sm-1 col-md-1 col-xs-12 col-lg-1">
	</div>
	<!--logo-->
	<div id="menu" class="col-sm-1 col-md-1 col-xs-12 col-lg-1">
		<a href="/home/">
			<img id="logo" class="img-responsive" src="{% static 'img/logo_menor.png' %}">
		</a>
	</div>	
	
	<!--vazio-->
	<div class="col-sm-2 col-md-2 col-xs-12 col-lg-2">
		<!--vazio-->
	</div>

	<!--buscar-->
	<div id="buscar" class="col-sm-4 col-md-4 col-xs-12 col-lg-4">
		<br>
		<form action="/buscar/" class="form-horizont">
	  		<div class="form-group">
	    		<div class="col-sm-10">
	      			<input type="text" name="busca" class="form-control" id="inputEmail3" placeholder="Faça sua pesquisa">
	    		</div>
	    		<button class="btn">
	      			<div>
	      				<span class="glyphicon glyphicon-search" ></span>
      			 	</div>
	      		</button>
	  		</div>
	  	</form>
	</div>

	<!--vazio-->
	<div class="col-sm-2 col-md-2 col-xs-12 col-lg-2">	

	</div>

	<!--usuário/configurações-->
	<div class="col-sm-1 col-md-1 col-xs-12 col-lg-1">
		<br>
		<div class="dropdown">
			<button class="glyphicon glyphicon-user btn" type="button" data-toggle="dropdown">Você<span class="caret"></span>
			</button>
	  		<ul class="dropdown-menu">
		    	<li><a href="/edit_user/">Editar perfil</a></li>
			    <li><a href="/logout/">Sair</a></li>
		  	</ul>
		</div>
	</div>

	<!--vazio-->
	<div class="col-sm-1 col-md-1 col-xs-12 col-lg-1">

	</div>

</div>

	<div class="col-sm-1 col-md-1 col-xs-12 col-lg-1">
		<!--vazio-->
	</div>

	<!--Postagem-->
	<br>
	<div class="col-sm-10 col-md-10 col-xs-12 col-lg-10">
		<br>
		<div id="perfil" class="col-sm-12 col-md-12 col-xs-12 col-lg-12">

			<div id="perfil" class="col-sm-5 col-md-5 col-xs-12 col-lg-5">
				<br>
				{% if perfil.imagem_perfil %}
				<img class="usu img-responsive" src="{{perfil.imagem_perfil.url}}">
				<br>
				{% endif %}
				<!--{ variavel com o nome do usuario }-->
				<h2 class="text-capitalize">{{usuario.username}}</h2>
			</div>


			<div class="col-sm-7 col-md-7 col-xs-12 col-lg-7">
				<h3>Bio:<br><h5>{{perfil.bio}}</h5></h3>

				{%if usuario not in all_friends%}
					<!--envios usuario-->
					<a id="back" href="/seguir/{{perfil.user.id}}/">
						<div class="col-sm-1 col-md-1 col-xs-12 col-lg-1">
							<button class="btn" id="seguir"><strong class="glyphicon glyphicon-user">SEGUIR!</strong></button></h3>
						</div>
					</a>
				{% else %}
			
					<a id="back" href="/deixarseguir/{{perfil.user.id}}/">
						<div class="col-sm-4 col-md-4 col-xs-12 col-lg-4">
							<h3>
							<button class="btn" id="seguir"><strong class="glyphicon glyphicon-user">DEIXAR DE SEGUIR</strong></button>	
							</h3>
						</div>
					</a>				
				{% endif%}
			</div>

		</div>

	</div>

	<div class="col-sm-1 col-md-1 col-xs-12 col-lg-1">
		<!--vazio-->
	</div>

<!--corpo-->
<div id="corpo" class="col-sm-12 col-md-12 col-xs-12 col-lg-12">

	<!--vazio-->
	<br>
	<div class="col-sm-1 col-md-1 col-xs-12 col-lg-1">

	</div>

	<!--info usuario-->
	<div id="info" class="col-sm-2 col-md-2 col-xs-12 col-lg-2">

		<!--grupos usuario-->
		<a href="/seu_grupo/">
			<br>
			<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
				<h4><strong>GRUPOS</strong></h4>
			</div>
		</a>

		<!--fóruns usuario-->
		<a href="/forum/">
			<br>
			<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
				<h4><strong>FÓRUNS</strong></h4>
			</div>
		</a>	

	</div>

	<!--timeline-->
	<div class="col-sm-6 col-md-6 col-xs-12 col-lg-6">

		<!--linha do tempo-->
		{% for publicacao in publicacoes %}
		<div id="timeline" class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
			<!--date nome-->
			<br>
			<div class="col-sm-11 col-md-11 col-xs-12 col-lg-11">
				{% if perfil.imagem_perfil %}
					<h3> <a style="color:black;" href="/showPerfil/{{single.user.id}}"><img id="usu_timeline" class="usu img-responsive" src="{{perfil.imagem_perfil.url}}">{{perfil.user.username}}</a> </h3>
				{% endif %}

				<br>
				<small>{{publicacao.data}}</small>
				<h1> {{publicacao.titulo}}</h1>
			</div>
			<div class="col-sm-1 col-md-1 col-xs-12 col-lg-1">
				<br>
			</div>

			<!--publicação-->
			<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
				{{publicacao.texto}}<hr>
				{% for anexo in anexo %}
					{% if anexo in publicacao.anexo.url %}
						{% for tipo in tipo %}

							{% if tipo in anexo %}
								{% if tipo == "png" or tipo == "jpg" or tipo == "gif" %}
									<img src="{{publicacao.anexo.url}}">
								{% endif %}

								{% if tipo == "docx" or tipo == "doc" or tipo == "pdf" or tipo == "sh" or tipo == "java" or tipo == "c" or tipo == "py" or tipo == "pptx" or tipo == "txt" %}
									<a style="color:black;" href="{{publicacao.anexo.url}}"><span class="glyphicon glyphicon-download-alt">{{anexo}}</a> </span>
								{% endif %}
								{{"<!--"}}
							{% endif %}

						{% endfor %}
					{% endif %}
				{% endfor %}
				<!--{"-->
				
				<hr>
			</div>

			<!--visualizar-->
			<a id="visualizar" href="/viewPublicacao/{{publicacao.id}}">
				<button type="button" class="btn btn-default">
					<h4><span style="float: left;" class=" glyphicon glyphicon-eye-open"></span> VISUALIZAR</h4>
				</button>
			</a>

		</div>
		<br>
		{% endfor %}

	</div>


	<!--assuntos relacionados-->
	<div id="relacionados" class="col-sm-2 col-md-2 col-xs-12 col-lg-2">
		<h3><small>Seus Contatos</small></h3>
		<!--grupos usuario-->
		<a href="/seguindo/">
			<br>
			<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
				<h4><strong>Seguindo</strong></h4>
			</div>
		</a>

		<!--envios usuario-->
		<a href="/seguidores/">
			<br>
			<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
				<h4><strong>Seguidores</strong></h4>
			</div>
		</a>
	</div>


	<!--vazio-->
	<div class="col-sm-1 col-md-1 col-xs-12 col-lg-1">

	</div>

</div>

</body>
</html>