#body{
	background: #ccc;
}


#menu{
	background: black;
}

#menu a img:hover{
	background: #888;
}

#logo{
	width: 70%;
}

input{
	width: 100%;
}

#info div{
	background-color: white;
}

#info div:hover{
	background-color: #555;
	color: white;
}

button{
	background-color: #ccc;
}


#publicacoes{
	margin-top: 10%;
}

#relacionados div{
	background-color: white;
}

#relacionados div:hover{
	background-color: #555;
	color: white;
}

#timeline{
	margin-top: 3%;
	background-color: white;
}

#timeline div small:hover{
	color: green;
	text-decoration: none;
}

#timeline div a:hover{
	color: green;
}

#visualizar{
	background-color: #ccc;
}


#post{
	width: 100%;
	text-align: center;
}

.dropdown-menu{
	background-color: #ccc;
}

.dropdown:hover .dropdown-menu{
	display: block;
}
